input, select, textarea,
.uneditable-input:not([type="select"]){
    margin: 1px 1px 1px 1px;
    padding: 0 6px;
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif !important;
    font-size: small !important;;
    font-weight: normal !important;;
    width: auto;
    padding-bottom: 1px;
}

input, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], input[type="button"], input[type="submit"],
.uneditable-input:not([type="select"]){
    height: 26px !important;
}

select:not([multiple]),
select:not([multiple]) > input[type="option"],
.uneditable-input[type="select"]:not([multible]){
    height: 26px !important;
}

select[multiple],
select[multiple] > input[type="option"],
.uneditable-input[type="select"][multible]{
    height: auto !important;
}

textarea {
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 5px;
}

h5 {
    margin: 1px 1px 1px 1px;
}

input.btn, input.buton {
    font: menu;
    border-color: #000000;
    font-weight: normal;
    background: inherit url('primeui/themes/bluesky/images/default.png') 50% 50% repeat-x !important;
    color: #000000;
    width: auto;
    font: inherit;
    height: 18px;
}

input.btn:hover, input.buton:hover {
    background: #808080 url('primeui/themes/home/images/header.png') 50% 50% repeat-x !important;
    color: #000000;
}

.tanim2 {
    font-weight: bold;
    /* background: inherit url('primeui/themes/home/images/default.png') 50% 50% repeat-x !important;*/
    background-color: lightgrey;
    color: navy;
    border: 1px solid white;
    /*font-weight: bold;*/
    width: auto;
    /*font-size: 12px;*/
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    line-height: 13px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 8pt;
}

.taahhut {
    font-weight: bold;
    color: red;
    width:auto;
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    padding: 3px 5px;
    font-size: 8pt;
}

.tanim {
    font-weight: normal;
    /*background: inherit url('primeui/themes/home/images/default.png') 50% 50% repeat-x !important;*/
    /*background-color: grey;*/
    color: navy;
    border: 1px solid white;
    /*font-weight: bold;*/
    width: 120px;
    height: 24px;
    /*font-size: 12px;*/
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    line-height: 13px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    font-size: 8pt;
}


.tanimfiyat {
    font-weight: bold;
    /*background: inherit url('primeui/themes/home/images/default.png') 50% 50% repeat-x !important;*/
    /*background-color: grey;*/
    color: navy;
    border: 1px solid white;
    /*font-weight: bold;*/
    width: 10px;
    /*font-size: 12px;*/
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    line-height: 13px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 8pt;
}


.tanimsiparis {
    font-weight: normal;
    background: inherit url('primeui/themes/home/images/default.png') 50% 50% repeat-x !important;
    background-color: #c2c2c2;
    color: white;
    border: 1px solid white;
    /*font-weight: bold;*/
    width: auto;
    /*font-size: 12px;*/
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    line-height: 13px;
    padding: 3px 5px;
    border-radius: 5px;
}

.tanim u {
    color: navy;
    font-weight: bold;
}

.tanim center {
    background: inherit url('primeui/themes/home/images/default.png') 50% 50% repeat-x !important;
    height: 24px;
    text-align: center;
    align-content: center;
    background-color: #c2c2c2;
    font-weight: bold;
}

tr.listeBaslik:nth-child(2n+1) > td, TR.buyukbaslik:nth-child(2n+1) > td, TR.listeBaslik:nth-child(2n+1) > td, TR.listeBaslik_kucuk:nth-child(2n+1) > td {
    color: #ffffff;
    background: transparent url('primeui/themes/home/images/default.png') 0% 0% repeat-x !important;
    text-transform: uppercase;
    /*  height: Auto;*/
    border-width: thin;
    padding-top: 4px;
    font-weight: bold;
    white-space: nowrap;
}

tr.groupBaslik:nth-child(2n+1) > td {
    color: #000000;
    background: #2c4359 url('primeui/themes/home/images/default.png') 50% 50% repeat-x !important;
    text-transform: uppercase;
    text-align: center;
    height: 24px;
    border-width: thin;
}

tr.disableWhiteCol:nth-child(2n+1) > td:nth-child(n+1) > input {
    background-color: #ffffff;
    border-radius: 0;
    border-style: none;
}

.listeici:hover, .listeici0:hover, .listeici1:hover, .listeici2:hover, .listeici3:hover {
    background-color: #c0a16b;
    color: darkblue;
}

TD {
    background-color: inherit;
    width: auto;
}


TD b {
    background-color: transparent;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: inherit;
}

.listeici0 > td {
    background-color: rgba(0,0,0,.05) !important;
}

.add-on {
    height: 24px !important;
    width: 24px !important;
    border-radius: 24px !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.table-condensed {
    font-size: 8pt !important;
    font-weight: normal !important;;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 8px;
    margin-right: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1) !important;*/
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label[for$="all_1103"] {
    background-color: #e9ec97ba;
    box-shadow: none;
}

.switch-field input:checked + label[for$="all_1101"] {
    background-color: #9fef96;
    box-shadow: none;
}

.switch-field input:checked + label[for$="all_1100"] {
    background-color: #f9b1b9;
    box-shadow: none;
}

.switch-field input:checked + label[for$="radio1103"] {
    background-color: #e9ec97ba;
    box-shadow: none;
}

.switch-field input:checked + label[for$="radio1101"] {
    background-color: #9fef96;
    box-shadow: none;
}

.switch-field input:checked + label[for$="radio1100"] {
    background-color: #f9b1b9;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}
