.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
}

.ui-dialog-titlebar-close {
    background: url(../library/jquery-ui/images/ui-icons_ffffff_256x240.png) repeat scroll -93px -128px rgba(0, 0, 0, 0);
    border: medium none;
}
.ui-dialog-titlebar-close:hover {
    background: url(../library/jquery-ui/images/ui-icons_ffffff_256x240.png) repeat scroll -93px -128px rgba(0, 0, 0, 0);
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 0;
}