*{
    COLOR: black;
    FONT-FAMILY: "Helvetica Neue", Helvetica, Arial, sans-serif;
    FONT-SIZE: 9pt;
    background-color:inherit;
}

BODY {
    background-color: #EDEDEE;
    color: black;
    font: inherit;
    scrollbar-face-color: #dcdcdc;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #ffffff;
    scrollbar-3dlight-color: #bbbbbb;
    scrollbar-arrow-color: #626262;
    scrollbar-track-color: #efefef;
    scrollbar-darkshadow-color: #bbbbbb
}

input{
    font: inherit;
}

H1 {
    COLOR: navy;
    font: inherit;
    FONT-SIZE: x-large;
    FONT-WEIGHT: bolder;
    TEXT-TRANSFORM: capitalize
}

TD.bord {
    border: 1px solid #c0c0c0;
    background-color: #FFFFFF;
    font: inherit;
}

TD.bord2 {
    border: 1px solid #c0c0c0;
    background-color: #FFFFFF;
    font: inherit;
    text-align: center;
    color: Red;
}

TD.bord3 {
    border: 1px solid #c0c0c0;
    background-color: #FFFFFF;
    font: inherit;
    text-align: center;
    color: Blue;
}

TD.bord5 {
    border: 1px solid #c0c0c0;
    background-color: #FFFFFF;
    font: inherit;
    text-align: left;
    color: Blue;
}

TD.bord4 {
    border: 1px solid #c0c0c0;
    background-color: #FFFFFF;
    font: inherit;
    text-align: right;
    color: Blue;
}

H2 {
    COLOR: navy;
    font: inherit;
    FONT-SIZE: large;
    FONT-WEIGHT: bolder;
    TEXT-TRANSFORM: capitalize
}

H3 {
    COLOR: navy;
    font: inherit;
    FONT-SIZE: large;
    FONT-WEIGHT: lighter;
    TEXT-TRANSFORM: capitalize
}

H4 {
    COLOR: navy;
    font: inherit;
    FONT-WEIGHT: lighter;
    TEXT-TRANSFORM: capitalize;
}

.H5 {
    COLOR: #FFFFFF;
    font: inherit;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: lighter;
    TEXT-TRANSFORM: capitalize;
    BACKGROUND-COLOR: #000000;
    font-weight: bold;
}

H6 {
    COLOR: #000000;
    font: inherit;
    FONT-WEIGHT: lighter;
    TEXT-TRANSFORM: capitalize;
}

.bgcl1 {
    BACKGROUND-COLOR: #43587E;
}

.bgcl2 {
    BACKGROUND-COLOR: #798FB9;
}

.bgcl3 {
    BACKGROUND-COLOR: #B7C2D9;
}

.label {
    COLOR: black;
    font: inherit;
    FONT-SIZE: 9pt;
    font-weight: bold;
}

.icerik2 {
    BACKGROUND-COLOR: #cccccc;
    COLOR: black;
    font: inherit;
}

.icerik5 {
    BACKGROUND-COLOR: #eeeeee;
    COLOR: black;
    font: inherit;
}

.icerik8 {
    BACKGROUND-COLOR: #eeeeee;
    COLOR: black;
    font: inherit;
    FONT-SIZE: 10pt
}

.label2 {
    COLOR: black;
    font: inherit;
    FONT-WEIGHT: bold;
}

.listeBaslik {
    font: inherit;
}

.listeBaslik_kucuk {
    font: inherit;
}

.listeici0 {
    background-color: #E7E7FF;
    COLOR: black;
    font: inherit;
}

.listeicigreen {
    background-color: #008000;
    COLOR: black;
    font: inherit;
}

.listeicired {
    background-color: #FF9999;
    COLOR: black;
    font: inherit;
}

.listeiciblue {
    background-color: blue;
    COLOR: black;
    font: inherit;
}

.listeici_lightblue {
    background-color: #87cefa;
    COLOR: black;
    font: inherit;
}

.listeici_red {
    background-color: #CC6666;
    COLOR: black;
    font: inherit;
}

.listeici_yellow {
    background-color: #CCFF99;
    COLOR: black;
    font: inherit;
}

.listeici0_buyuk {
    background-color: #E7E7FF;
    COLOR: black;
    font: inherit;
}

.listeici1 {
    background-color: #D1C8C5;
    color: black;
    font: inherit;
}

.listeici1_buyuk {
    background-color: #D1C8C5;
    COLOR: black;
    font: inherit;
}

.listeici2 {
    background-color: #FFE3D7;
    COLOR: black;
    font: inherit;
}

.listeici_ozel {
    background-color: #FFFFFF;
    COLOR: black;
    font: inherit;
}

.listeici_ozel_buyuk {
    background-color: #FFFFFF;
    COLOR: black;
    font: inherit;
    FONT-SIZE: 9pt;
}

.listeici1_rapor {
    background-color: #D1C8C5;
    COLOR: black;
    font: inherit;
}

.disable_text {
    COLOR: #c0c0c0;
    font: inherit;
    font-weight: bold;
}

.active_text {
    COLOR: navy;
    font: inherit;
    FONT-SIZE: 10pt;
    font-weight: bold;
}

.normal_text {
    font: inherit;
}

.normal_text_b {
    font: inherit;
    FONT-SIZE: 12pt;
}

.normal_text_red {
    font: inherit;
    COLOR: #FF0000;
    TEXT-DECORATION: none;
}

.normal_text_k {
    COLOR: black;
    font: inherit;
}

.normal_text_yeni {
    COLOR: black;
    font: inherit;
}

.normal_text_label {
    COLOR: black;
    font: inherit;
    BACKGROUND-COLOR: #E7E7FF;
}

.buton {
    font: inherit;
    BACKGROUND-COLOR: #8C8C8C;
    COLOR: white;
}

.buton_dis {
    font: inherit;
}

.textfield_disable {
    BACKGROUND-COLOR: #999999;
    COLOR: black;
    font: inherit;
}

.textfield_disable_num {
    BACKGROUND-COLOR: #999999;
    COLOR: black;
    font: inherit;
    text-align: right;
}

.textfield_farkli {
    BACKGROUND-COLOR: #FF6633;
    COLOR: black;
    font: inherit;
}

.textfield_farkli_num {
    BACKGROUND-COLOR: #FF6633;
    COLOR: black;
    font: inherit;
    text-align: right;
}

.textfield {
    BACKGROUND-COLOR: white;
    COLOR: black;
    font: inherit;
}

.textfieldnum {
    BACKGROUND-COLOR: white;
    COLOR: black;
    font: inherit;
    text-align: right;
}

.textfield_label {
    border: 1px solid #E7E7FF;
    color: #000000;
    font: inherit;
    background-color: #E7E7FF;
}

.textfield_label_num {
    border: 1px solid #E7E7FF;
    color: #000000;
    font: inherit;
    background-color: #E7E7FF;
    text-align: right;
}

A:link {
    COLOR: navy;
    font: inherit;
    font-size: 75%;
    TEXT-DECORATION: none;
    border: 0;
}

A:visited {
    COLOR: navy;
    font: inherit;
    font-size: 75%;
    TEXT-DECORATION: none;
    border: 0;
}

A:active {
    COLOR: gray;
    font: inherit;
    font-size: 75%;
    TEXT-DECORATION: none;
    border: 0;
}

A:hover {
    COLOR: red;
    font: inherit;
    font-size: 75%;
}

.input3_list_ozel {
    BACKGROUND-COLOR: #EDEDEE;
    BORDER-BOTTOM: #8C8C8C 0px solid;
    BORDER-LEFT: #8C8C8C 0px solid;
    BORDER-RIGHT: #8C8C8C 0px solid;
    BORDER-TOP: #8C8C8C 0px solid;
    COLOR: orange;
    font: inherit;
}

.input3 {
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #8C8C8C 1px solid;
    BORDER-LEFT: #8C8C8C 1px solid;
    BORDER-RIGHT: #8C8C8C 1px solid;
    BORDER-TOP: #8C8C8C 1px solid;
    COLOR: black;
    font: inherit;
}

.login_input {
    border: 1px solid;
    margin: 0;
    padding: 6px 0.25em;
    width: 98%;
    color: black;
    font: inherit;
}

.input3_red {
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #FF0000 1px solid;
    BORDER-LEFT: #FF0000 1px solid;
    BORDER-RIGHT: #FF0000 1px solid;
    BORDER-TOP: #FF0000 1px solid;
    COLOR: red;
    font: inherit;
}

.input3_num {
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #8C8C8C 1px solid;
    BORDER-LEFT: #8C8C8C 1px solid;
    BORDER-RIGHT: #8C8C8C 1px solid;
    BORDER-TOP: #8C8C8C 1px solid;
    COLOR: black;
    text-align: right;
    font: inherit;
}

.input3_num_red {
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: #FF0000 1px solid;
    BORDER-LEFT: #FF0000 1px solid;
    BORDER-RIGHT: #FF0000 1px solid;
    BORDER-TOP: #FF0000 1px solid;
    COLOR: red;
    text-align: right;
    font: inherit;
}

.input3_list {
    BACKGROUND-COLOR: #EDEDEE;
    BORDER-BOTTOM: #DDDDDD 1px solid;
    BORDER-LEFT: #DDDDDD 1px solid;
    BORDER-RIGHT: #DDDDDD 1px solid;
    BORDER-TOP: #DDDDDD 1px solid;
    COLOR: black;
    font: inherit;
}

.input3_list_soft {
    BACKGROUND-COLOR: #EDEDEE;
    BORDER-BOTTOM: #DDDDDD 0px solid;
    BORDER-LEFT: #DDDDDD 0px solid;
    BORDER-RIGHT: #DDDDDD 0px solid;
    BORDER-TOP: #DDDDDD 0px solid;
    COLOR: black;
    font: inherit;
}

.input_krms {
    BACKGROUND-COLOR: #EDEDEE;
    BORDER-BOTTOM: #DDDDDD 1px solid;
    BORDER-LEFT: #DDDDDD 1px solid;
    BORDER-RIGHT: #DDDDDD 1px solid;
    BORDER-TOP: #DDDDDD 1px solid;
    COLOR: black;
    FONT: 1pt Times New Roman
}

.input3_uyari {
    BACKGROUND-COLOR: #EDEDEE;
    BORDER-BOTTOM: #DDDDDD 1px solid;
    BORDER-LEFT: #DDDDDD 1px solid;
    BORDER-RIGHT: #DDDDDD 1px solid;
    BORDER-TOP: #DDDDDD 1px solid;
    COLOR: red;
    font-weight: bold;
    font: inherit;
}

input.btn {
    font: inherit;
    border-color: #000000;
    color:#f5f5f5;
}

input.btnhov {
    border-color: #c63 #930 #930 #c63;
}

.buyukbaslik {
    COLOR: #FFFFFF;
    font: inherit;
    FONT-SIZE: 11pt;
    text-transform: capitalize;
    BACKGROUND-COLOR: #8C8C8C;
    font-weight: bold;
}

.tanim {
    COLOR: #000000;
    font: inherit;
    text-transform: capitalize;
    background-color: #EDEDEE;
    width: 120px;
}

table.tabdismaster{
    border: 1px solid #EDEDEE;
}

table.tabmaster td {
    background-color: #EDEDEE;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    height: auto;
    width: auto;
}

table.tabmaster td.hist {
    background-color: #ddebfb;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    height: auto;
    width: auto;
}
table.tabmaster {
    border-collapse: separate;
    border-spacing: 1px;
}

.ortabaslik {
    COLOR: #FFFFFF;
    font: inherit;
    text-transform: capitalize;
    background-color: #000000;
    font-weight: bold;
}

.kirmizi {
    color: #FF0000;
    font: inherit;
    font-size: 10pt;
    text-decoration: none;
}

.bigkirmizi {
    font: inherit;
    font-size: 14pt;
    color: #FF0000;
    text-decoration: none;
}

.fieldsets {
    color: #000000;
    font: inherit;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}

.fieldsets2 {
    color: #000000;
    font: inherit;
    text-align: left;
    font-style: italic;
    font-weight: bold;
}

.fieldsets3 {

    color: #000000;
    font: inherit;
    text-align: left;
    font-style: italic;
}

.fieldsetsred {
    color: red;
    font: inherit;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}

.fieldsetsredcenter {
    color: red;
    font: inherit;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.adminBaslik {
    COLOR: white;
    font: inherit;
    TEXT-DECORATION: none;
    text-align: center;
}

.adminBaslikLink {
    COLOR: black;
    font: inherit;
    TEXT-DECORATION: none;
    text-align: center;

}

.textfield_kirmizi {
    BACKGROUND-COLOR: #FF0000;
    COLOR: black;
    font: inherit;
    font-weight: bold;
    text-align: right;
}

.textfield_label_kirmizi {
    border: 1px solid #E7E7FF;
    color: #FF0000;
    font: inherit;
    background-color: #E7E7FF;
    font-weight: bold;
}

.fieldsetsredbig {
    color: red;
    font: inherit;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}

.yazi {
    font: inherit;
    font-size: 10pt;
    color: #000000;
    align: center;
}

.fieldset {
    border: 2px solid #000000;
    border-style: outset;
    border-color: #ff0000;
    padding: 2px 3px;
    border-left-style: inset;
    border-top-style: inset;
}

.legend {
    font: 11px/125% Tahoma;
    font-weight: bolder;
    border: 0px solid #000000;
    border-color: #000000;
    color: #1E1F92;
}

#marqueecontainer {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;
    overflow: hidden;
    border: 1px solid gray;
    padding: 1px;
    padding-left: 2px;
}

.mrq-satir {
    background: #ffffff;
    color: #333333;
    padding: 1px;
    margin: 5px;
    font: inherit;
}

.menuskin {
    border-right: #71747d 2px solid;
    border-top: #71747d 2px solid;
    z-index: 100;
    visibility: hidden;
    font: 12px/18px verdana;
    font: 12px/18px verdana;
    border-left: #71747d 2px solid;
    width: 165px;
    border-bottom: #71747d 2px solid;
    position: absolute;
    background-color: menu
}

.menuskin A {
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    text-decoration: none
}

#mouseoverstyle {
    background-color: #8c8c8c
}

#mouseoverstyle A {
    color: white
}

.eklebuton {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    background-image: url(/images/plus_list.gif);
}

.errordialog {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid black;
    background: lightyellow;
    left: 0;
    top: 0;
    padding: 3px 0;
    text-indent: 5px;
    font: normal 11px Verdana;
}

.line {
    width: 100%;
    height: 25px;
    clear: both;
    margin: 0 0 1px 0;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.line_odeme {
    width: 100%;
    clear: both;
    margin: 0 0 1px 0;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.line_cap {
    width: 100%;
    height: 63px;
    clear: both;
    float: left;
    margin: 0 0 1px 0;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.line_mid {
    width: 100%;
    height: 20px;
    clear: both;
    float: left;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    vertical-align:middle;
}

.td_div {
    font: 62.5%Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: #333333;
    margin: 0 0 1px 0;
}

.td_div_bg{
    background-color:#d0d0d0;
}

.td_div_0064 {
    background-color:#f8e3f0;
}

.td_div_0062 {
    background-color:#edf4e6;
}

.td_div_0067 {
    background-color:#f1e7f3;
}

.td_div_0046 {
    background-color:#f4f6db;
}

.td_div_0111 {
    background-color:#e4e9f4;
}



.td_div_baslik_0064 {
    background-color:#faaadb;
}

.td_div_baslik_0062 {
    background-color:#d0ecb5;
}

.td_div_baslik_0067 {
    background-color:#e0b7e7;
}

.td_div_baslik_0046 {
    background-color:#e8efa4;
}

.td_div_baslik_0111 {
    background-color:#adc1ea;
}


.radio {
    width: 15px;
    height: 15px;
    padding: 0 5px 0 0;
    display: block;
    clear: left;
    float: left;
}

.text-toUpper{
    text-transform: uppercase
}
.text-toLower{
    text-transform: lowercase
}
.text-toCamel{
    text-transform: capitalize
}

.loading_text {
    border: 1px solid #E7E7FF;
    color: #FF0000;
    font: inherit;
    background-color: #00AA88;
    font-weight: bold;
    text-align: center;
    font-size: 18px !important;
}

.span_val {
    display:inline-block;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.span_val:hover {
    white-space:initial;
    cursor:pointer;
    width:200px;
    word-wrap:break-word;
    background-color: #f3c17a;
}

.highlighted { background-color: #dff0d8; }
