* {
    COLOR: black;
    FONT-FAMILY: "Helvetica Neue", Helvetica, Arial, sans-serif;
    FONT-SIZE: 9pt;
}

BODY {
    COLOR: black;
    font: inherit;
}

H1 {
    COLOR: navy;
    font: inherit;
    FONT-SIZE: x-large;
    FONT-WEIGHT: bolder;
    TEXT-TRANSFORM: capitalize
}

H2 {
    COLOR: navy;
    font: inherit;
    FONT-SIZE: large;
    FONT-WEIGHT: bolder;
    TEXT-TRANSFORM: capitalize
}

H3 {
    COLOR: navy;
    font: inherit;
    FONT-SIZE: large;
    FONT-WEIGHT: lighter;
    TEXT-TRANSFORM: capitalize
}

.label {
    COLOR: black;
    font: inherit FONT-SIZE : 9 pt;
    font-weight: bold;
}

.normal_text {
    font: inherit FONT-SIZE : 8 pt;
}

.bgcl1 {
    BACKGROUND-COLOR: #43587E;
}

.bgcl2 {
    BACKGROUND-COLOR: #798FB9;
}

.bgcl3 {
    BACKGROUND-COLOR: #B7C2D9;
}

.bgcl4 {
    BACKGROUND-COLOR: #71747D;
}

.textfield_gizli {
    border: 1px solid #EDEDEE;
    color: black;
    font: inherit;
    background-color: #EDEDEE;
    text-align: left;
    font-weight: bold;
}

.textfield_gizli_2 {
    border-width: 0px;
    border-style: none;
    color: #000000;
    font: inherit;
    font-size: large;
    background-color: inherit;
    text-align: left;
    font-weight: bold;
}

.textfield_gizli_3 {
    border: 1px solid #EDEDEE;
    color: #cccccc;
    font: inherit;
    font-size: large;
    background-color: #EDEDEE;
    text-align: right;
    font-style: italic;
    font-size: smaller;
}

.textfield_gizli_alert {
    border: 1px solid #EDEDEE;
    color: #ff0000;
    font: inherit;
    font-size: large;
    background-color: #EDEDEE;
    text-align: left;
    font-weight: bold;
}

A:link {
    COLOR: navy;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    font-size: 60%;
    TEXT-DECORATION: none;
}

A:visited {
    COLOR: navy;
    FONT-FAMILY: Verdana, Arial, sans-serif;
    font-size: 60%;
    TEXT-DECORATION: none;
}

A:active {
    COLOR: gray;
    font: inherit;
    font-size: 60%;
    TEXT-DECORATION: none;
}

A:hover {
    COLOR: #ff0000;
    font: inherit;
    font-size: 60%;
}

.kirmizi {
    font-size: 10;
    color: #FF0000;
    font: inherit;
    text-decoration: none;
}
